<div *ngIf="hero">
  <h2>{{hero.firstName | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>firstName:
      <input [(ngModel)]="hero.firstName" placeholder="firstName"/>
    </label>
  </div>
  <div>
    <label>lastName:
      <input [(ngModel)]="hero.lastName" placeholder="lastName"/>
    </label>
  </div>
  <div>
    <label>participation:
      <input [(ngModel)]="hero.participation" placeholder="participation"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
